{% extends 'base.html.twig' %}

{% block body %}

    <h1>Actions</h1>

    <table class="table">

        <tbody>
        <tr><a href="{{ path("app_categories") }}" class="btn btn-default"> liste </a></tr>
        <tr><a href="{{ path("app_home") }}" class="btn btn-default">liste </a></tr>
        <tr><a href="{{ path("app_categories") }}" class="btn btn-default">liste </a></tr>
        <tr><a href="{{ path("app_categories") }}" class="btn btn-default">liste </a></tr>

        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
